body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'open sans';
}

.grid {
    width: fit-content;
    background-color: grey;
    block-size: fit-content;
}

.game-on {
    display: none;
}

.grid div {
    height: 40px;
    width: 40px;
    border: 1px solid #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;

}

.checked {
    background-color: #b8b1b1;
}

.create-game {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70%;
}

.create-game button {
    margin: 3rem auto;
    width: 50%;
    background-color: darkslategray;
    padding: 2%;
    color: white;
    font-size: 3rem;
}

.create-game button:hover {
    background-color: darkturquoise;
    transition: 300;
}