.grid {
    height: 400px;
    width: fit-content;
    display: grid;
    background-color: grey;
    block-size: fit-content;
}

.grid div {
    height: 40px;
    width: 40px;
    border: 1px solid #1a1a1a;

}

.checked {
    background-color: red;
}

.bomb {
    /* background-color: orange; */
}